.general__section {
    background-image: url('/images/national-programs-background.jpg');
    background-position: center center;
}

.general__content {
    margin: 0 auto;
    padding: 20px;
}

.general__program-icon {
    height: 50px;
    width: 50px;
    margin-left: 30px;
    margin-top: 20px;
    float: left;
}

.general__program-title {
    margin-left: 50px;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.general__programs-title {
    color: white;
    margin-bottom: 10px;
    font-style: italic;
    text-transform: none;
}

.general__programs {
    width: 450px;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 70px;
    text-transform: uppercase;
    float: left;
    font-weight: bold;
    font-size: 16px;
    color: #414142;
}

.general__title {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.general__programs> :nth-child(2) {
    border-top-style: solid;
    border-top-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.general__programs> :nth-child(5) {
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.general__program {
    background-color: white;
    max-width: 450px;
    height: 95px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
}

.general__description {
    margin: 130px 50px 0px 0px;
    max-width: 500px;
    overflow: hidden;
    color: white;
    float: right
}

.general__text {
    line-height: 28px;
}